@import "https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css";

.wait {
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

 .main  {
  height: 70%;
  width: 100%;
  padding: 2rem;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  font-family: 'Viaoda Libre',
    cursive;
  color: white;
  overflow: auto;
}

 .box {
  text-align: center;
  border: 2px dashed #ffffff88;
  height: 100%;
  width: 100%;
  margin: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: transparent;
  transition: all .3s ease;
  font-size: 2rem;
}

@media (max-width: 991px) {
  .main{
    height: auto;
    flex-direction: column;
  }
   .box {
    height: auto;
  }
   .left  {
    padding: 2rem 0;
  }
   .left span {
    line-height: 5rem;
  }
   .right {
    padding: 2rem 0;
  }

   .right span {
    line-height: 5rem;
  }
}

 .box:hover {
  cursor: pointer;
  background: rgba(4, 90, 4, 0.747);
}

 .right:hover {
  background: #2c045abe;
  cursor: initial;
}

 .left span {
  font-size: 8rem;
}

 .right form {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 3rem;
  padding: 1rem;
}

 .right form input[type="text"] {
  background: #ffffff88;
  border: 2px solid white;
  border-radius: 1rem 0 0 1rem;
  padding: 1rem 2rem;
  width: 15rem;
  color: black;
  font-family: 'Viaoda Libre',
    cursive;

  font-weight: 800;
  text-transform: uppercase;
  font-size: 1rem;
  border-right: none;
}

 .right form input[type="submit"] {
  background: #026102;
  border-left: none;
  border: 2px solid white;
  border-radius: 0 1rem 1rem 0;
  padding: 1rem 0.8rem;
  font-weight: 800;
  font-family: 'Marcellus',
    serif;
  text-transform: uppercase;
  cursor: pointer;
  width: auto;
  color: white;
  font-size: 1.1rem;
}



.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}
mat-list-item{
  color: #444!important;
}
footer {
  color: white;
  text-align: center;
  /* margin: .32rem; */
  font-family: "Cinzel";
  font-size: 0.7rem;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

footer a {
  text-decoration: none;
  color: yellow
}
