.join {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  z-index: 0;
  width: 100%;
  height: 100%;
  padding: 2rem 3rem;
  box-sizing: border-box;
}

.join .header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  border-bottom: 2px solid white;
  height: 15%;
}

.join .header .btns {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  width: 30%;
}

.btn {
  /* padding: 0.81rem 0; */
  min-width: 8rem;
  height: 2.5rem;
  font-family: "Open Sans";
  margin-left: 1rem;
  border-radius: 5px;
  color: white;
  background: #0a6d2b;
  border: 1px outset forestgreen;
  cursor: pointer;
}

.btn[disabled] {
  background: grey !important;
}

.btn-danger {
  background: rgb(226, 33, 33);
}

.btn-info {
  background: #7c0999;
}

.join .title {
  color: white;
  font-family: "Cinzel";
  text-align: left;
  width: 100%;
  padding: 2rem 0;
}

.join .footer {
  height: 5%;
}

.join .main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  height: 80%;
  padding: 2rem 0rem;
}

.box {
  box-sizing: border-box;
  width: 48%;
  height: 95%;
  overflow: auto;
}

.rules {
  color: white;
  font-family: "Open Sans";
}

.rules h3 {
  margin-bottom: 2rem;
  font-family: "cinzel";
  line-height: 1.5rem;
}


.players {
  background: white;
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, .5);
  padding: 2rem;
  box-sizing: border-box;
  position: relative;
  overflow-x: hidden;
}

.players h3 {
  padding-bottom: 1rem;
  color: black;
  font-family: "Open sans";
  border-bottom: 1px solid #000;
  ;
  /* margin-bottom: 1rem; */
}

.players .gamers {
  width: 100%;
  /* height: 100%; */
  box-sizing: border-box;
}

.players .gamers .player {
  border-bottom: 1px solid #888;
  padding: 1rem;
  font-family: "Marcellus";
  text-transform: uppercase;
  font-weight: 720;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  /* align-content: center; */
  align-items: center;
}

.players .gamers .player .etat {
  font-size: 0.71rem;
}

.text-green {
  color: forestgreen
}

.foot {
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  width: 100%;
  background: #ffffff88;
  font-family: "Cinzel";
}


@media (max-width: 991px) {
  .join {
    overflow: auto;
  }

  .join .header {
    height: 30%;
  }

  .join .header .btns {
    width: 100%;
    display: block;
  }

  .join .main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: auto;
    width: 100%;
    padding: 2rem 0rem;
  }

  .box {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    overflow: hidden;
    overflow: auto;
    margin-bottom: 2rem;
  }

}

@media (max-width: 991px) {
  .example-spacer {
    flex: 1 1 auto;
  }
  .join{
    padding: 1rem;
  }
  .join .title{
    font-size: 1.2rem;
    padding: 0;
  }
  .footer-btn{
    background: #0a3618e5;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: space-around;
  }
}
