<div class="join">
  <div class="header">
    <h2 class="title">Partie créée par {{partie.admin.pseudo}} </h2>
    <div class="btns">
      <button class="btn btn-info" (click)="copyToClipboard()"> Partager</button>
      <button class="btn start" *ngIf="partie.admin.pseudo == user.pseudo" [disabled]="btndisabled"
        (click)="start()">{{btndisabled ? "Patientez ..." : "Lancer"}}</button>
      <button class="btn btn-danger" (click)="quit()">Quitter</button>
    </div>
  </div>
  <div class="main">
    <div class="d-block d-md-none " style="width: 100%;">
      <mat-card class="mb-4" style="background-color: white;width: 100%; ">
        <mat-card-header class="border-bottom">
          <mat-card-subtitle style="color:#444;">Liste des participants</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <mat-list role="list">
            <mat-list-item role="listitem" *ngFor="let user of objectKeys(partie.users)">
              <div mat-line style="color: #444;">{{partie.users[user].pseudo}} (<span class="etat"
                  [ngClass]="{'text-green': partie.users[user].etat}">{{partie.users[user].etat ? "connecté" : "connexion en cours ..."}}</span>)
              </div>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
    </div>
      <div class="box players d-none d-md-block">
        <h3> Liste des participants</h3>
        <div class="gamers">
          <div class="player" *ngFor="let user of objectKeys(partie.users)">
            <span class="pseudo">{{partie.users[user].pseudo}}</span>
            <span class="etat"
              [ngClass]="{'text-green': partie.users[user].etat}">{{partie.users[user].etat ? "connecté" : "connexion en cours ..."}}</span>
          </div>
        </div>
        <div class="foot mt-2 mb-2">En attente d'autres joueurs ...</div>
      </div>
    <div class="box rules">
      <h3>Règles</h3>
      <div>
        Le Check & Games est un jeu de cartes traditionnel dans lequel chaque carte a des effets sur le
        fonctionnement de la partie. Ce jeu a été popularisé par le jeu Uno qui en reprend les principes dans
        une version commerciale, plus simple et plus attrayante visuellement (avec un jeu de cartes spécifique).

        Dans la version originale voici le rôle des cartes :
        <ul>
          <li>
            la carte J ou "J commande" permet de changer la couleur à n'importe quel moment de la partie,
          </li>
          <li>
            le 7 fait piocher 2 cartes au joueur suivant, si vous avez un autre 7, vous pouvez envoyer le total au
            joueur qui vous suit ainsi de suite jusqu'à ce qu'on arrive à joueur qui n'a pas de </li>
          <li>
            l'As saute le tour du joueur suivant.</li>
          <li>Le 2 est passe-partout</li>
        </ul>

      </div>
    </div>
  </div>
  <div class="footer"></div>
</div>
